// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$yankees-blue: #242942;
$ash-grey: #B1B9C4;
$palatinate-blue: #284BF5;
$alice-blue: #F2F4FF;
$glitter: #E6ECF8;
