<div class="projects-gallery-thanhtran-portfolio">
      <div class="row paddingtop-50px paddingx-30px">
        <div class="col-xs-12 col-sm-4">
          <div class="projects-card-thanhtran-portfolio">
            <%= cl_image_tag("portfolio-projects/protectoris.png", height: 170, width: 350) %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="projects-card-thanhtran-portfolio">
            <%= cl_image_tag("portfolio-projects/kbuddy.png", height: 170, width: 350) %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="projects-card-thanhtran-portfolio">
            <%= cl_image_tag("portfolio-projects/protectoris.png", height: 170, width: 350) %>
          </div>
        </div>
      </div>
    </div>


