<div class="about-thanhtran-portfolio width-82vw">
  <div class="about-part1-thanhtran-portfolio paddingtop-100px paddingbottom-150px display-flex flexdirection-column alignitems-center backgroundcolor-aliceblue">
    <div class="about-title-thanhtran-portfolio ">
      <h1>About <span class="color-palatinateblue textdecoration-underline">me</span><br>
      </h1>
    </div>
    <div class="about-subtitle-thanhtran-portfolio margintop-40px">
      <p class="fontweight-300 color-ashgrey textalign-center">
        My name is Thanh (last name: Tran). I’ve started as a freelance in June 2018, <br>
        which is about the time I graduated from by coding bootcamp (Le Wagon Paris Batch #145). <br>
        I’ve fallen in love with code since then.
      </p>
    </div>
  </div>
  <div class="about-part2-thanhtran-portfolio display-flex justifycontent-center paddingx-100px paddingbottom-40px">
    <div class="about-box-thanhtran-portfolio border-05pxsolidglitter display-flex margintop-neg90px backgroundcolor-white borderradius-12px width-100pc">
      <div class="about-boxhalf-thanhtran-portfolio textalign-center paddingy-30px width-50pc borderright-05pxsolidglitter">
        <h3 class="marginbottom-30px paddingx-60px">Business Experience</h3>
        <%= image_tag "coding.png", class: "height-50px marginbottom-50px" %>
        <p class="color-ashgrey fontweight-300 paddingx-30px marginbottom-50px">My thrist for learning and knowledge
        has brought me to explore diverse degrees
        and job positions across different industries
        such as business, entertainment and tech.</p>
        <p class="color-palatinateblue">Education & Degrees:</p>
        <p class="color-ashgrey fontweight-300 paddingx-30px marginbottom-50px">
          • MSc in Management <br> (EMLYON Business School) <br>
          • Summer Program Managing Enterprise in Media, Entertainment & Sports <br> (UCLA)
        </p>
        <p class="color-palatinateblue">Positions & Companies:</p>
        <p class="color-ashgrey fontweight-300 paddingx-30px">
          • Marketing (Adidas, The Kooples) <br>
          • Business Development (Tech In Asia) <br>
          • Investment (Wavemaker Partners)
        </p>
      </div>
      <div class="about-boxhalf-thanhtran-portfolio textalign-center paddingy-30px width-50pc">
        <h3 class="marginbottom-30px paddingx-60px">Coding Experience</h3>
        <%= image_tag "portfolio.png", class: "height-50px marginbottom-50px" %>
        <p class="color-ashgrey fontweight-300 paddingx-30px marginbottom-50px">After my experience as an Investment Analyst
          in the tech world, I’ve decided that it was my
          time to learn to code. In 2018, I attended
          the 9-week bootcamp at Le Wagon.
        </p>
        <p class="color-palatinateblue">Programming Languages:</p>
        <p class="color-ashgrey fontweight-300 paddingx-30px marginbottom-50px">
          • HTML <br>
          • CSS <br>
          • JavaScript <br>
          • Ruby On Rails
        </p>
        <p class="color-palatinateblue">Teaching Experiences:</p>
        <p class="color-ashgrey fontweight-300 paddingx-30px">
          • Teaching Assistant (Le Wagon) <br>
          • Maths & English Tutor (L'Ecole à L'Hopîtal) <br>
        </p>
      </div>
    </div>
  </div>
</div>
