<div class="projects-thanhtran-portfolio width-82vw">
  <div class="projects-part1-thanhtran-portfolio paddingtop-100px paddingbottom-100px display-flex flexdirection-column alignitems-center backgroundcolor-aliceblue">
    <div class="projects-title-thanhtran-portfolio ">
      <h1>My <span class="color-palatinateblue textdecoration-underline">work</span><br>
      </h1>
    </div>
  </div>
  <div class="projects-part2-thanhtran-portfolio display-flex justifycontent-center paddingx-100px paddingbottom-40px">
    <div class="projects-tabs-thanhtran-portfolio">
      <button class="projects-button-thanhtran-portfolio backgroundcolor-palatinateblue paddingy-20px borderradius-50px border-2pxsolidpalatinateblue width-150px color-white marginx-10px">
        <h6 class="margin-0">ALL</h6>
      </button>
      <button class="projects-button-thanhtran-portfolio backgroundcolor-palatinateblue paddingy-20px borderradius-50px border-2pxsolidpalatinateblue width-150px color-white marginx-10px">
        <h6 class="margin-0">FREELANCE</h6>
      </button>
      <button class="projects-button-thanhtran-portfolio backgroundcolor-palatinateblue paddingy-20px borderradius-50px border-2pxsolidpalatinateblue width-150px color-white marginx-10px">
        <h6 class="margin-0">PERSONAL</h6>
      </button>
    </div>
  </div>
</div>
