.borderradius-50px {
  border-radius: 50px;
}

.border-2pxsolidpalatinateblue {
  border: 2px solid $palatinate-blue;
}

.border-05pxsolidglitter {
  border: 0.5px solid $glitter;
}

.borderradius-12px {
  border-radius: 12px;
}

.borderright-05pxsolidglitter {
  border-right: 0.5px solid $glitter;
}
