.backgroundcolor-blue {
  background-color: $yankees-blue;
}

.color-ashgrey {
  color: $ash-grey;
}

.color-palatinateblue {
  color: $palatinate-blue;
}

.backgroundcolor-palatinateblue {
  background-color: $palatinate-blue;
}

.backgroundcolor-aliceblue {
  background-color: $alice-blue;
}

.color-aliceblue {
  color: $alice-blue;
}

.backgroundcolor-white {
  background-color: white;
}

.color-white {
  color: white;
}

.color-yankeesblue {
  color: $yankees-blue;
}

.color-black {
  color: black;
}

.backgroundcolor-transparent {
  background-color: transparent;
}

.backgroundcolor-ashgrey {
  background-color: $ash-grey;
}
