.backgroundcolor-blue {
  background-color: $yankees-blue;
}

.color-ashgrey {
  color: $ash-grey;
}

.color-palatinateblue {
  color: $palatinate-blue;
}

.backgroundcolor-palatinateblue {
  background-color: $palatinate-blue;
}

.backgroundcolor-aliceblue {
  background-color: $alice-blue;
}

.color-aliceblue {
  color: $alice-blue;
}
