.display-flex {
  display: flex;
}

.alignitems-center {
  align-items: center;
}

.justifycontent-center {
  justify-content: center;
}

.flexdirection-column {
  flex-direction: column;
}

.justifycontent-spacebetween {
  justify-content: space-between;
}


.justifycontent-spacearound {
  justify-content: space-around;
}
