.height-100vh {
  height: 100vh;
}

.height-80px {
  height: 80px;
}

.height-450px {
  height: 450px;
}

.height-50vh {
  height: 50vh;
}

.height-150px {
  height: 150px;
}

.height-50px {
  height: 50px;
}
