.home-button-thanhtran-portfolio {
  &:hover {
    border: 2px solid $palatinate-blue;
    background-color: $alice-blue;
    h6 {
      color: $palatinate-blue;
    }
  }
}

.navbar-social-thanhtranportfolio a {
  &:hover {
    color: $palatinate-blue;
  }
}
