.navbar-social-thanhtranportfolio a {
  &:hover {
    color: $palatinate-blue;
  }
}

.home-button-thanhtran-portfolio {
  &:hover {
    border: 2px solid $palatinate-blue;
    background-color: $alice-blue;
    color: $palatinate-blue;
  }

}

