.marginy-10px {
  margin-top: 10px;
  margin-bottom: 10px;
}

.marginright-5px {
  margin-right: 5px;
}

.marginx-5px {
  margin-left: 5px;
  margin-right: 5px;
}

.marginx-10px {
  margin-left: 10px;
  margin-right: 10px;
}

.margin-0 {
  margin: 0;
}

.marginbottom-100px {
  margin-bottom: 100px;
}

.marginleft-neg280px {
  margin-left: -280px;
}

.margintop-neg180px {
  margin-top: -180px;
}

.margintop-40px {
  margin-top: 40px;
}

.margintop-100px {
  margin-top: 100px;
}

.margintop-neg90px {
  margin-top: -90px;
}

.marginbottom-30px {
  margin-bottom: 30px;
}

.marginbottom-50px {
  margin-bottom: 50px;
}

.marginleft-18vw {
  margin-left: 18vw;
}
