.paddingbottom-20px {
  padding-bottom: 20px;
}

.padding-100px {
  padding: 100px;
}

.padding-20px {
  padding: 20px;
}

.paddingtop-100px {
  padding-top: 100px;
}

.paddingtop-100px {
  padding-top: 100px;
}

.paddingbottom-150px {
  padding-bottom: 150px;
}

.paddingy-30px {
  padding-top: 30px;
  padding-bottom: 30px;
}

.paddingx-60px {
  padding-left: 60px;
  padding-right: 60px;
}

.paddingx-100px {
  padding-left: 100px;
  padding-right: 100px;
}

.paddingx-30px {
  padding-left: 30px;
  padding-right: 30px;
}

.paddingbottom-40px {
  padding-bottom: 40px;
}
